* {
  margin: 0;
  padding: 0;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  max-width: 1200px;
  height: 800px;
  margin: 0 auto;
}

.vending-machine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 450px;
  background-color: rgb(39, 39, 39);
  border-radius: 4px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.box-container {
  display: flex;
  gap: 20px;
}

.box-container__container {
  height: 350px;
  width: 300px;
  background-color: black;
  border-radius: 4px;
}

.table {
  height: 350px;
  width: 300px;
  border-collapse: collapse;
}

.table__column {
  width: 73.750px;
  height: 80.250px;
  border: 1px solid #888888;
  padding: 3px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.block__img {
  width: 100%;
  height: 66px;
  vertical-align: top;
}

.cost {
  display: flex;
  gap: 20px;
}

.cost__number {
  font-size: 10px;
  color: yellow;
}

.cost__price {
  font-size: 10px;
  color: white;
}

.box-container__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100px;

}

.grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid__input {
  width: 100px;
}

.grid__value {
  color: yellow;
  height: 14px;
  width: 100px;
  background-color: blue;
}

.box__push  {
  height: 50px;
  width: 300px;
  background-color: rgb(119, 119, 119);
  border-radius: 4px;
}